<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Challenge Backend</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'challengebe/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'challengebe/css/bootstrap-icons.css' %}">

</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{% static 'challengebe/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>