{% extends 'challengebe/base.html' %}

{% block content %}
{% load static %}
<script>
  console.log("executou o script")
  function showInfo(){
      var file = document.getElementById('id_uploadfile');
      name = file.files[0].name;
      size= file.files[0].size/1000000;
      if (size < 1){
        size = size * 1000;
        size = size.toFixed(2) + " KB"
      }
      else{
        size = size.toFixed(2) + " MB"
      }
      alert("Arquivo: " + name + "\ntamaho: " + size);
  }
</script>

<div style="padding-bottom: 10%; text-align:center">
  <div>
   <p style="font-size: 2rem; color: #4877e4;" class="lead"></i>Challenge Backend</p>
  </div>

  <!--Upload File Form-->
  <div>
    <form method="post" enctype="multipart/form-data" id="upload">
      {% csrf_token %}
      <div> 
        <div>
          <label>Importar transações</label>
        </div>
        <div >
            {{ form.uploadfile.errors }}
            {{ form.uploadfile }}
        </div>
      </div>
      <div>
        <button class="btn btn-success" type="submit" id="btn-import" onclick="showInfo()">Importar</button>
      </div>
  </form>
</div>

{% endblock %}

